.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color:white;
  position:absolute;
  top:0;bottom:0;right: 0;left: 0;
}

.sidemenu{/** aici avem partea din stanga, meniul */
  width:240px;
  padding:10px;
  background-color: #202123;
}

.side-menu-button{/*butonul de New Chat*/
  padding:15px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

.side-menu-button:hover{/*butonul de New Chat*/
  background-color: rgba(255,255,255,0.1);/*culoarea butonului cand dau hover*/
}

.side-menu-button span{
  padding-left: 2px;
  padding-right: 10px ;
}

.chatbox{/** aici este chatbox-ul, unde vom vb cu chatgpt-ul */
  flex:1;
  background-color: #343541;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chat-input{
  padding: 24px;
  position: absolute;
  bottom:0; left: 0; right: 0;
}

.chat-input-textarea{
 background-color: #40414f;
 width: 95%;
 padding: 12px;
 color: white;/*culoarea textului*/
 font-size: 1.5em;/*marimea textului*/
 border-radius: 5px;
 border: none;
 outline: none;
 box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
}

.chat-input-textarea:hover{/*casuta de input*/
  background-color: rgba(255,255,255,0.1);/*culoarea casutei cand dau hover*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.caht-log{
  text-align: left;
}

.chat-message.chatgpt{
  background-color: #444654;
}

.chat-message-centre{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px; 
  padding-right: 24px;
  
}

.avatar{
  background:white;
  border-radius: 50%;
  width:40px;
  height: 40px;;
}

.avatar.chatgpt{
  
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;
  background-color: black;
  background-image: url(./bucatar.png);/*daca da vreo eroare e posibil sa fie de aici*/
  border-radius: 50%;
  width:40px;
  height: 40px;;
}

.message{
  padding-left: 40px; 
  padding-right: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
