@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/lemonmilk');

.App {
    text-align: center;
    display: flex;
    background-color: #282c34;
    color:white;
    position:absolute;
    top:0;bottom:0;right: 0;left: 0;
  }
  
  .sidemenu{/** aici avem partea din stanga, meniul */
    width:240px;
    padding:10px;
    background-color: #65879e;
  }
  
  nav{
    margin-top: 43rem;
    border-top: solid 0.5px rgba(225,225,225,0.5);
  }
  .side-menu-button{/*butonul de New Chat*/
    padding:15px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: #5e849e;
  }
  
  .side-menu-button:hover{/*butonul de New Chat*/
    background-color: rgba(255,255,255,0.1);/*culoarea butonului cand dau hover*/
  }
  
  .side-menu-button span{
    padding-left: 2px;
    padding-right: 10px ;
  }
  
  .main{
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: url(./blurat.png);
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .main h1{
    padding-top: 1rem;
    font-family: 'Lemon/Milk', sans-serif;
  }

  .bucatar{
    background-image: url(./bucatar.png);
  }

  .info{
    color:rgba(225,225,225,0.5);
    font-size: 11px;
    padding: 10px;
  }

  .input-container{
    position: relative;
    width:100%;
    max-width: 650px;
  }

  .bottom-section{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input{
    width: 100%;
    border: none;
    background-color: rgba(255,255,255,0.05);
    padding: 12px 15px;
    box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
                rgba(0,0,0,0.05) 0 -12px 30px,
                rgba(0,0,0,0.05) 0 4px 6px,
                rgba(0,0,0,0.05) 0 12px 3px,
                rgba(0,0,0,0.05) 0 -3px 5px;
  }

  input:focus{
    outline: none;
  }

  #submit{
    position: absolute;
    bottom: 15px;
    right: 0;
    cursor: pointer;
  }

  .feed{
    overflow: scroll;
    width: 100%;
    padding: 0;
    background-color: #BBD5EA;
    opacity: 80%;
  }

  .feed li{
    display:flex;
    width:100%;
    padding: 20px;
    margin:20px 0;
    font-size: 25px;
    text-align: center;
    color:black;
    font-family: 'Poppins';
  }