@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

body{
    background-image: url(./first.png);
    background-size: cover;
    font-family: 'Poppins';
}

.card-body{
    background-color: #a6c2db;
    background-size: cover;
    /* border-radius: 1rem; */
}
